<!DOCTYPE html>
<html lang="en">
  <head>
    <title>-</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <!-- Navbar Awal -->
    <nav class="navbar-10smg">
      <div class="navbar-10smg-container">
        <img src="/gambar/logo.jpg" alt="Image" class="navbar-10smg-logo" />
        <ul class="navbar-10smg-nav">
          <li class="nav-10smg-item">
            <a href="#section1" class="nav-10smg-link">Rumah</a>
          </li>
          <li class="nav-10smg-item">
            <a href="#grub10" class="nav-10smg-link">Tentang</a>
          </li>
          <li class="nav-10smg-item">
            <a href="#section3" class="nav-10smg-link">Produk</a>
          </li>
          <li class="nav-10smg-item">
            <a href="#section4" class="nav-10smg-link">API</a>
          </li>
          <li class="nav-10smg-item">
            <a href="section5" class="nav-10smg-link">Karir</a>
          </li>
          <li class="nav-10smg-item">
            <a href="#" class="nav-10smg-link">Kelas</a>
          </li>
          <li class="nav-10smg-item">
            <a href="#" class="nav-10smg-link">Mitra</a>
          </li>
          <li class="nav-10smg-item">
            <a href="#" class="nav-10smg-link">Kontak</a>
          </li>
          <li>
            <div class="nav-10smg-linkgrub">
              <a class="nav-10smg-link" href="#"> Grub 10 Semarang</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Navbar Akhir -->

    <!-- Tampilan 1 Awal -->
    <section id="section1">
      <div class="tampil1-10smg">
        <div class="tampil1-10smg-text">
          <h1>
            Pelajari
            <span id="tampil1-10smg-text-changing">keterampilan</span> siap
            kerja dengan - bersertifikat
          </h1>
          <p>
            Sekarang Anda dapat menyiapkan karier baru di bidang yang tengah
            berkembang pesat walau tidak memiliki pengalaman sebelumnya.
          </p>
        </div>
        <div class="tampil1-10smg-image">
          <img
            src="/gambar/gambar-1.jpg"
            alt="tampil1-10smg-Image"
            id="tampil1-10smg-fade-image" />
        </div>
      </div>
    </section>
    <!-- Tampilan 1 Akhir -->

    <!-- Tampilan 2 Awal -->
    <section id="grub10" class="section">
      <div class="content-container">
        <div class="image-container">
          <img src="/gambar/gambar-3.jpg" alt="Gambar Kursus Online" />
        </div>
        <div class="text-container">
          <h2>🚀 Kursus di XGrow</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis
            libero non dolor dictum egestas vel non libero.
          </p>
          <a href="#" class="button">Daftar Sekarang</a>
        </div>
      </div>
    </section>
    <!-- Tampilan 2 Akhir -->

    <!-- Tampilan 3 Awal -->
    <section id="section3">
      <div class="tampil3-10smg">
        <h1>📚 1 Modul pembelajaran di berbagai bidang yang berkembang pesat</h1>
        <div class="tampil3-10smg-container">
          <div class="kartu-tampil3-10smg">
            <img src="/gambar/gambar-2.jpg" alt="Image" />
            <h2>Keamanan siber</h2>
            <p>
              Pelajari module keamanan siber <br />
              untuk memantau dan melindungi <br />
              informasi dan sistem.
            </p>
          </div>

          <div class="kartu-tampil3-10smg">
            <img src="/gambar/gambar-2.jpg" alt="Image" />
            <h2>Data analisis</h2>
            <p>
              Pelajari module keamanan siber <br />
              untuk memantau dan melindungi <br />
              informasi dan sistem..
            </p>
          </div>

          <div class="kartu-tampil3-10smg">
            <img src="/gambar/gambar-2.jpg" alt="Image" />
            <h2>Komunikasi bisnis</h2>
            <p>
              Pelajari module keamanan siber <br />
              untuk memantau dan melindungi <br />
              informasi dan sistem.
            </p>
          </div>

          <div class="kartu-tampil3-10smg">
            <img src="/gambar/gambar-2.jpg" alt="Image" />
            <h2>Sistem Informasi</h2>
            <p>
              Pelajari module keamanan siber <br />
              untuk memantau dan test melindungi <br />
              informasi dan sistem.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Tampilan 3 Akhir -->

    <!-- Tampilan 4 Awal -->
     <section id="section4" class="section">
      <div class="content-container">
        <h1>📚 1 Modul pembelajaran di berbagai bidang yang berkembang pesat</h1>
        <form id="createItemForm">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>
          <button type="submit">Create Item</button>
        </form>
      
      </div>
    </section>
    <!-- Tampilan 4 Akhir -->

    <!-- Tampilan 5 Awal -->
    <section id="section5" class="section">
      <div class="content-container">
        <h1>Kumpulan Produk</h1>
      
      </div>
    </section>
    <!-- Tampilan 5 Akhir -->
    
    <script src="/js/grub10.js"></script>
    <script src="/js/api.js"></script>
  </body>
</html>
